body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
  font-family: "Montserrat", "Funnel Sans", "Roboto", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Apple Color Emoji",
    "Segoe UI Emoji", sans-serif;
}

.wrapper {
  background: hsl(0, 0%, 100%); // #ffffff → чистый белый
  box-shadow: 0px 10px 20px hsla(0, 0%, 0%, 0.04); // rgba(0,0,0,0.04)
  border-radius: 20px;
  max-width: 1080px;
  margin: 5vh auto;
}

header {
  border-bottom: 1px solid hsl(0, 0%, 88%);
}

main {
  h1 {
    font-weight: 500;
  }
}
.card {
  min-width: 210px;
  max-width: 260px;
  padding: 30px;
  border: 1px solid hsla(0, 0%, 0%, 0.05);
  border-radius: 30px;
  h5 {
    font-weight: 400;
    font-size: 18px;
  }
  span {
    opacity: 0.5;
  }
  p {
    font-weight: 600;
  }
}

.button {
  background-color: hsla(0, 0%, 0%, 0.02);
  border: 1px solid hsla(0, 0%, 0%, 0.03);
  box-sizing: border-box;
  border-radius: 8px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
