body {
  margin: 0;
  font-family: system-ui sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

.wrapper {
  background: hsl(0, 0%, 100%); // #ffffff → чистый белый
  box-shadow: 0px 10px 20px hsla(0, 0%, 0%, 0.04); // rgba(0,0,0,0.04)
  border-radius: 20px;
  max-width: 1080px;
  margin: 5vh auto;
}
